<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.springDesign.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(id,username,password,phone,sex,avatar,address,wechat_name,create_time,update_time)
        values(#{id},#{username},#{password},#{phone},#{sex},#{avatar},#{address},#{wechatName},#{createTime},#{updateTime});
    </insert>
    <select id="countUser">
        select count(*) from user;
    </select>
    <select id="selectUserByUsername" resultType="user">
        select * from user where username=#{username}
    </select>
</mapper>












